.container
  .profilePage_header
    .profilePage_header_back-icon
      = image_tag 'back.png'
    %h2.profilePage_header_account= current_user.account
  .profilePage_user
    .profilePage_user_image
      = image_tag current_user.avatar_image
    .container.profile-form-container.hidden
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message
      
      = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
        %div
          = f.file_field :avatar
        = f.submit 'submit', class: 'btn-primary', id: 'submit-avatar-btn'
    .profilePage_user_info
      .profilePage_user_Count
        44
        %br/
        %span.profilePage_user_unit Posts
      .profilePage_user_Count
        110
        %br/
        %span.profilePage_user_unit Followers
      .profilePage_user_Count
        44
        %br/
        %span.profilePage_user_unit Following


= javascript_pack_tag 'profile'