.container
  .comment_header.header
    = link_to :back do
      .comment_headerLeft.header_left
        = image_tag 'back.png'
    %h2.comment_headerCenter.header_center Comment
  .comment_main.main
    - @comments.each do |comment|
      .comment_comment
        .comment_commentUserImage
          = image_tag comment.user.avatar_image
        .comment_commentContentWrapper
          .comment_commentUserAccount= comment.user.account
          .comment_commentContent= comment.content