.article_article
  .article_articleHeader
    .article_articleUser
      .article_articleUserAvatar
        = image_tag article.user.avatar_image
      .article_articleUserInfo 
        .article_articleUserAccount= article.user.account
        .article_articlePostTime= article.elapsed_time(article)
    .article_articleActions 
      = image_tag 'actions.svg', class: 'dropbtn'
      .article_articleDropdown 
        = link_to 'edit', edit_article_path(article)
        = link_to 'delete', article_path(article), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure you want to delete this?'}
  .article_articleImages
    - if article.images.length <= 1
      - article.images.each do |image|
        .article_articleImage.big
          = image_tag image
    - else 
      - article.images.each_with_index do |image, i|
        .article_articleImage
          = image_tag image
        - break if i== 2
  .article_articleReaction
    .article_articleLikeIcon.article_articleIcon
      = image_tag 'Like-inactive.png'
    .article_articleCommentIcon.article_articleIcon
      = image_tag 'Comment.png'
    = link_to "https://twitter.com/share?url=https://hogehoge.com#{ article_path(article) }", target: '_blank', class: 'article_articleShareIcon article_articleIcon' do
      = image_tag 'share.png'
  .article_articleLikesCount Jasmine and 12,000 other liked your post
  .article_articleComments
    .article_articleComment
      .article_articleCommentUser= article.user.account
      .article_articleCommentContent= article.content